{% extends 'user/layout/layout.html.twig' %}

{% set page_title %}Dashboard{% endset %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user_homepage') }}
{% endblock %}

{% block main_content %}
    <div class="main-content">
        <div class="dash-line-1">
            <div class="welcome-back">
                <div class="avatar">
                    {% if app.user.avatar %}
                        <img src="{{ asset(app.user.avatarFile) }}" alt="Avatar de {{ app.user.userIdentifier }}">
                    {% else %}
                        <img src="https://robohash.org/{{ app.user.userIdentifier }}?size=126x126" alt="Avatar de {{ app.user.userIdentifier }}"/>
                    {% endif %}
                </div>
                <div class="me">
                    <p>Bon retour,</p>
                    <p class="username">{{ app.user.firstname | capitalize }}</p>
                </div>
                {% if app.user.highRoleCode != 0 %}
                    <div class="badge badge-1">{{ app.user.highRole }}</div>
                {% endif %}
            </div>
            <div class="dash-line-1-col-2">
                <a href="{{ path('user_biens') }}" class="dash-card-1">
                    <div class="icon">
                        <span class="icon-home"></span>
                    </div>
                    <div class="title">{{ app.user.agency.name }}</div>
                    <div>{{ biensAgency }} {{ biensAgency > 1 ? "biens immobiliers" : "bien immobilier" }}</div>
                    <div>{{ biensArchived }} {{ biensArchived > 1 ? "biens archivés" : "bien archivé" }}</div>
                </a>
                <a href="{{ path('user_biens', {'fu': app.user.userIdentifier}) }}" class="dash-card-1">
                    <div class="icon">
                        <span class="icon-layer"></span>
                    </div>
                    <div class="title">Mes biens</div>
                    <div>{{ biensActif }} / {{ biensAgency }} actif{{ biensActif > 1 ? "s" : "" }}</div>
                    <div>{{ biensInactif }} / {{ biensAgency }} inactif{{ biensInactif > 1 ? "s" : "" }}</div>
                </a>
                <a href="{{ path('user_biens_create') }}" class="dash-card-1">
                    <div class="icon">
                        <span class="icon-add-square"></span>
                    </div>
                    <div class="title">Ajouter un bien</div>
                    <div><div>{{ biensDraft }} / {{ biensActif + biensInactif }} en brouillon</div></div>
                </a>
            </div>
        </div>
        <div class="dash-line-2">
            <div class="dash-line-2-line-1">
                <div class="title">Visites</div>
                <div id="visits" data-visits="{{ visits }}">
                    {% include "dashboard/layout/components/spinner.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user_homepage') }}
{% endblock %}