{% extends 'user/layout/layout.html.twig' %}

{% set page_title %}Dashboard{% endset %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user_homepage') }}
{% endblock %}

{% block main_content %}
    <div class="main-content">
        <div class="dash-line-1">
            <div class="welcome-back">
                <div class="avatar">
                    {% if app.user.avatar %}
                        <img src="{{ asset(app.user.avatarFile) }}" alt="Avatar de {{ app.user.userIdentifier }}">
                    {% else %}
                        <img src="https://robohash.org/{{ app.user.userIdentifier }}?size=126x126" alt="Avatar de {{ app.user.userIdentifier }}"/>
                    {% endif %}
                </div>
                <div class="me">
                    <p>Bon retour,</p>
                    <p class="username">{{ app.user.firstname | capitalize }}</p>
                </div>
                {% if app.user.highRoleCode != 0 %}
                    <div class="badge badge-1">{{ app.user.highRole }}</div>
                {% endif %}
            </div>
            <div class="dash-line-1-col-2">
                <a href="{{ path('user_biens') }}" class="dash-card-1">
                    <div class="icon">
                        <span class="icon-home"></span>
                    </div>
                    <div class="title">{{ app.user.agency.name }}</div>
                    <div>{{ biensAgency }} {{ biensAgency > 1 ? "biens immobiliers" : "bien immobilier" }}</div>
                </a>
                <a href="{{ path('user_biens', {'fu': app.user.userIdentifier}) }}" class="dash-card-1">
                    <div class="icon">
                        <span class="icon-layer"></span>
                    </div>
                    <div class="title">Mes biens</div>
                    <div>{{ biensUser }} / {{ biensAgency }}</div>
                </a>
            </div>
        </div>
        <div class="dash-line-2">
            <div>Hello</div>
        </div>
    </div>
{% endblock %}
