{% extends 'user/layout/layout.html.twig' %}

{% set page_title %}Dashboard{% endset %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user_homepage') }}
{% endblock %}

{% block main_content %}
    <div class="main-content">
        <div class="dash-line-1">
            <div class="welcome-back">
                <div class="avatar">
                    <a href="{{ path('user_profil') }}" title="Mon profil">
                        {% if app.user.avatar %}
                            <img src="{{ asset(app.user.avatarFile) }}" alt="Avatar de {{ app.user.userIdentifier }}">
                        {% else %}
                            <img src="https://robohash.org/{{ app.user.userIdentifier }}?size=126x126" alt="Avatar de {{ app.user.userIdentifier }}"/>
                        {% endif %}
                    </a>
                </div>
                <div class="me">
                    <p>Bon retour,</p>
                    <p class="username">{{ app.user.firstname | capitalize }}</p>
                </div>
                {% if app.user.highRoleCode != 0 %}
                    <div class="badge badge-1">{{ app.user.highRole }}</div>
                {% endif %}
            </div>
            <div class="dash-line-1-col-2">
                <a href="{{ path('user_biens', {'st': 1}) }}" class="dash-card-1">
                    <div class="card-header">
                        <div class="icon">
                            <span class="icon-home"></span>
                        </div>
                        <div class="title">{{ app.user.agency.name }}</div>
                    </div>
                    <div class="card-body">
                        <div class="number">{{ biensAgency }} {{ biensAgency > 1 ? "biens immobiliers" : "bien immobilier" }}</div>
                    </div>

                    <div id="chart-ads-tiny" data-donnees="{{ statsAds }}">
                        {% include "dashboard/layout/components/spinner.html.twig" %}
                    </div>
                </a>
                <a href="{{ path('user_biens', {'st': 1, 'fu': app.user.userIdentifier}) }}" class="dash-card-1">
                    <div class="card-header">
                        <div class="icon">
                            <span class="icon-layer"></span>
                        </div>
                        <div class="title">Mes biens</div>
                    </div>
                    <div class="card-body">
                        <div class="number">{{ biensUser }} biens</div>
                    </div>
                </a>
                <a href="{{ path('user_biens_create') }}" class="dash-card-1">
                    <div class="card-header">
                        <div class="icon">
                            <span class="icon-add-square"></span>
                        </div>
                        <div class="title">Ajouter un bien</div>
                    </div>
                    <div class="card-body">
                        <div class="number">{{ biensDraft }} en brouillon</div>
                    </div>
                </a>
                <a href="{{ path('user_publications') }}" class="dash-card-1 dash-card-publish">
                    <div class="card-header">
                        <div class="icon">
                            <span class="icon-book-1"></span>
                        </div>
                        <div class="title">Publications</div>
                    </div>
                    <div class="card-body">
                        <div class="number">{{ lastPublish is not null ? lastPublish | replace({':': 'h'}) : "Aller sur la page" }}</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="dash-line-2">
            <div class="dash-card-1 dash-card-changelogs">
                <div class="card-header">
                    <div class="icon">
                        <span class="icon-map"></span>
                    </div>
                    <div class="title">Les 10 prochaines visites</div>
                </div>
                <div style="width: 100%;">
                    <div id="visits" data-visits="{{ visits }}">
                        {% include "dashboard/layout/components/spinner.html.twig" %}
                    </div>
                </div>
            </div>

            <div class="dash-card-1 dash-card-chart-ads">
                <div class="card-header">
                    <div class="icon">
                        <span class="icon-colorfilter"></span>
                    </div>
                    <div class="title">Répartitions des annonces</div>
                </div>
                <div id="chart-ads" data-donnees="{{ biens }}">
                    {% include "dashboard/layout/components/spinner.html.twig" %}
                </div>
            </div>
        </div>
        <div class="dash-line-2">
            <div class="dash-card-1 dash-card-changelogs">
                <div class="card-header">
                    <div class="icon">
                        <span class="icon-follow"></span>
                    </div>
                    <div class="title">Changelog</div>
                </div>
                <div>
                    <div class="changelogs">
                        {% for changelog in changelogs %}
                            <div class="changelog">
                                <div class="changelog-date">{{ changelog.createdAtString }}</div>
                                <div class="changelog-content">
                                    <div class="name">
                                        <div class="badge-changelog badge badge-{{ changelog.type }}">
                                            <span class="icon-{{ changelog.typeIcon }}"></span>
                                        </div>
                                        <span>{{ changelog.name }}</span>
                                    </div>
                                    <div class="content">{{ changelog.content | raw }}</div>
                                </div>
                            </div>
                        {% else %}
                            <div class="changelog">
                                <div>Aucune nouvelle modification.</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="dash-line-2">

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user_homepage') }}
{% endblock %}
