{% extends 'user/pages/prospects/template.html.twig' %}

{% set page_title %}Liste des prospects archivés{% endset %}
{% set submenuActive = "Archivés" %}

{% block main_content %}
    <div id="list-prospects"
         data-donnees="{{ data }}"
         data-negotiators="{{ negotiators }}"
         data-society-id="{{ user.society.id }}"
         data-agency-id="{{ agency.id }}"
         {% if search is defined %}data-search="{{ search }}"{% endif %}
    >
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}