{% extends 'base.html.twig' %}

{% block title %} {{ page_title }} | {{ page_prefix }} {% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('user') }}
{% endblock %}

{% block body %}
    {% include "dashboard/layout/components/loader.html.twig" %}

    <div class="body">
        <nav>
            <div class="nav-header">
                <div class="nav-header-logo">
                    <img src="{{ asset('build/dashboard/images/logilink-logo.svg') }}" alt="Logo du site">
                </div>
            </div>
            <div id="menu" data-menu="{{ menu | json_encode }}" data-menu-bottom="{{ menuBottom | json_encode }}"></div>
        </nav>

        <main>

            <header>
                <div class="header-container">
                    <div class="left">
                        <h1>{{ page_title is defined ? page_title : "Transaction" }}</h1>
                    </div>

                    <div class="right">
                        <div class="actions">
                            <div id="notifications"></div>
                            <div id="theme"></div>
                        </div>
                        <div class="header-name">
                            <div class="profil">
                                <span>{{ app.user.lastname | upper }} {{ app.user.firstname | capitalize }}</span>
                                <a class="logout" href="{{ path('app_logout') }}" title="Se déconnecter">
                                    <span>Se déconnecter</span>
                                </a>
                            </div>
                            <a href="{{ path('user_profil') }}" title="Mon profil">
                                <img src="{{ asset(app.user.avatarFile) }}" alt="Avatar de {{ app.user.userIdentifier }}">
                            </a>
                        </div>
                    </div>
                </div>
            </header>

            {% include "dashboard/layout/components/submenu.html.twig" %}

            <div class="main-bg">
                {% block main_content %}{% endblock %}
            </div>

            {% block footer %}{% endblock %}
        </main>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('user') }}
{% endblock %}
