{% extends 'admin/layout/layout.html.twig' %}

{% set page_title %}Utilisateurs{% endset %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard_user') }}
{% endblock %}

{% block main_content %}
    <div id="user"
         data-donnees="{{ donnees }}"
         data-societies="{{ societies }}"
         data-agencies="{{ agencies }}"
         data-negotiators="{{ negotiators }}"
         data-developer="{{ app.user.highRoleCode }}"
         {% if search is defined %}data-search="{{ search }}"{% endif %}>
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard_user') }}
{% endblock %}