{% extends 'user/pages/owners/template.html.twig' %}

{% set page_title %}Liste des propriétaires{% endset %}
{% set submenuActive = "Liste des propriétaires" %}

{% block main_content %}
    <div id="list-owners"
         data-donnees="{{ data }}"
         data-negotiators="{{ negotiators }}"
         data-biens="{{ biens }}"
         data-society-id="{{ user.society.id }}"
         data-agency-id="{{ user.agency.id }}"
         {% if search is defined %}data-search="{{ search }}"{% endif %}
    >
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}