{% extends 'user/pages/profil/template.html.twig' %}

{% set page_title %}Mon profil{% endset %}

{% block main_content %}
    {% set avatar = obj.society.logo ? "/avatars/" ~ obj.society.logo : "https://robohash.org/${elem.society.name}?size=120x120" %}
    <div class="main-content">
        <div class="profil-page">
            <div class="col-1">
                <div class="profil-card">
                    <div class="profil-card-avatar">
                        <img src="{{ avatar }}" alt="Avatar de l'entreprise">
                    </div>
                    <div class="profil-card-header">
                        <div class="title">#{{ obj.society.codeString }}</div>
                        <div class="title">{{ obj.society.name }}</div>
                    </div>
                    <div class="profil-card-body">
                        <div class="items">
                            <div class="item"><span class="icon-padlock"></span> {{ obj.username }}</div>
                            <div class="item"><span class="icon-email"></span> {{ obj.email }}</div>
                            <div class="item"><span class="icon-user"></span> {{ obj.firstname }} {{ obj.lastname }}</div>
                        </div>
                    </div>
                    <div class="profil-card-footer">
                        <a href="{{ path('user_profil_update') }}" class="btn btn-primary">Modifier son compte</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div id="profil-content" data-id="{{ obj.id }}" data-agency-id="{{ obj.agency.id }}" data-society-id="{{ obj.society.id }}"
                     data-is-user="{{ app.user.highRoleCode == 0 ? true : false }}"
                     data-users="{{ users }}"
                     data-agencies="{{ agencies }}"
                     data-negotiators="{{ negotiators }}"
                     data-biens="{{ biens }}"
                >
                    {% include "dashboard/layout/components/spinner.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}