<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>

{% set agencyName = agency.name %}

<div class="doc-header">
    <div class="doc-logo">
        <img src="data:image/png;base64,{{ logo }}" alt="" style="width: 128px; height: 128px;">
    </div>
    <div class="doc-title">
        <div class="subtitle">{{ agencyName }}</div>
        <h1>Reconnaissance de visite d'un bien immobilier</h1>
    </div>
</div>

<div>
    <div class="doc-section doc-section-col-2">
        <div class="doc-section-title">Acquéreur potentiel</div>
        <div class="doc-section-content">
            <div class="input">
                <p>M. / Mme. (NOM, Prénom) :
                    {% if prospect is defined %}
                        <b>{{ prospect.fullname }}</b>
                    {% else %}
                        {% for i in 0..122 %}.{% endfor %}
                    {% endif %}
                </p>
            </div>
            <div class="input">
                <p>Adresse :
                    {% if prospect is defined %}
                        <b>{{ prospect.address }}</b>
                    {% else %}
                        {% for i in 0..150 %}.{% endfor %}
                    {% endif %}
                </p>
            </div>
            <div class="input">
                <p>Code postal et ville :
                    {% if prospect is defined %}
                        <b>{{ prospect.zipcode }} {{ prospect.city }}</b>
                    {% else %}
                        {% for i in 0..132 %}.{% endfor %}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

    <div class="doc-section doc-section-col-2">
        <div class="doc-section-title">Je soussigné(e),</div>
        <div class="doc-section-content">
            <p style="text-align: justify;">
                agissant tant en qualité d'acquéreur potentiel,
                reconnais m’être présenté(e) ce jour à l’agence {{ agencyName }} et avoir demandé et reçu les renseignements,
                adresses et conditions de vente des biens ci-dessous désignés, figurant dans le mandat de vente.
            </p>
            {% if biens is not defined %}
                <div class="input">
                    <p>Bien #1 <span class="txt-grey3">(N° Mandat, type d'offre, type de bien, prix et adresse)</span> : {% for i in 0..331 %}.{% endfor %}</p>
                </div>
                <div class="input">
                    <p>Bien #2 : {% for i in 0..331 %}.{% endfor %}</p>
                </div>
                <div class="input">
                    <p>Bien #3 : {% for i in 0..331 %}.{% endfor %}</p>
                </div>
                <div class="input">
                    <p>Bien #4 : {% for i in 0..331 %}.{% endfor %}</p>
                </div>
            {% else %}
                {% for bien in biens %}
                    <div class="input">
                        <p>
                            Bien #{{ loop.index }}
                            <span class="txt-grey3">{{ loop.index == 1 ? "(N° Mandat, type d'offre, type de bien, prix et adresse)" : "" }}</span> :
                            <br>
                            <b>
                                {{ bien.mandat.numero != 0 ? "N°" ~ bien.mandat.numero ~ ", " : "N°0, " }}
                                {{ bien.typeAdString | lower }}, {{ bien.typeBienString | lower }},
                                {{ bien.financial.price | price }} € {{ (bien.codeTypeBien == 1 or bien.codeTypeBien == 4) ? "cc/mois" : "" }}
                            </b>
                            <br>
                            <b>
                                {{ bien.localisation.fullAddress }}
                            </b>
                        </p>
                    </div>
                {% endfor %}
            {% endif %}
            <p>
                Les prix de vente donnés comprennent les honoraires de l’agence qui sont prévus à la charge
            </p>

            {% set squareActive = 99 %}
            {% if biens is defined and biens | length == 1 %}
                {% set squareActive = biens[0].financial.honoraireChargeDe != null ? biens[0].financial.honoraireChargeDe : 99 %}
            {% endif %}

            {% set honoraireChargeDeTab = [
                {value: 0, label: "du vendeur"},
                {value: 1, label: "de l'acquéreur"},
                {value: 2, label: "du vendeur et d l'acquéreur"}
            ] %}

            <table style="margin: 4px 0 24px 0;">
                <tr>
                    {% for item in honoraireChargeDeTab %}
                        <td>
                            <table style="{{ loop.index0 != 0 ? "margin-left: 24px;" : "" }}">
                                <tr>
                                    <td class="square {{ squareActive == item.value ? "active" : "" }}">&nbsp;</td>
                                    <td class="square-label  {{ squareActive == item.value ? "active" : "" }}">{{ item.label }}.</td>
                                </tr>
                            </table>
                        </td>
                    {% endfor %}
                </tr>
            </table>
            <p>
                Je m'engage à :
            </p>
            <ul style="text-align: justify;">
                <li>à garder les renseignements reçus confidentiels.</li>
                <li>ne communiquer à quiconque ces renseignements.</li>
                <li>ne pas me présenter chez les vendeurs sans être accompagné(e) d’un représentant de l’agence ou,
                    à défaut, sans communiquer audit vendeur le présent bon de visite.</li>
                <li>
                    informer à toute personne en dehors de {{ agencyName }}, que ces mêmes biens m'ont déjà été présentés.
                </li>
                <li>ne pas traiter ou négocier l'achat de ces biens sans l'intervention de {{ agencyName }}.</li>
            </ul>
            <p>
                Je reconnais :
            </p>
            <ul style="text-align: justify;">
                <li>que ces biens me sont présentés la première fois et uniquement par {{ agencyName }}.</li>
                <li>qu'à défaut de respecter ces engagements, pendant une durée de deux ans à compter de ce jour,
                    je m'engage à faire réparation du préjudice que constituerait son éviction par un dédommagement égal
                    au montant de la rémunération que ladite agence aurait perçue si j'avais acquis le bien à travers {{ agencyName }}.</li>
            </ul>
            <p style="margin-top: 24px;">
                Fait en 3 exemplaires originaux remis à chacune des parties, à {% for i in 0..33 %}.{% endfor %}, le {% for i in 0..25 %}.{% endfor %}
            </p>
        </div>
    </div>

    <div class="doc-section doc-section-col-2">
        <div class="doc-section-title txt-blue">Signatures</div>
        <div class="doc-section-content">
            <div class="signature">
                <div style="float: left;width: 50%; text-align: left;">
                    <b>De l'acquéreur potentiel</b>
                    <div>précédée de la mention "lu et approuvé"</div>
                </div>

                <div style="float: right;width: 50%; text-align: right;">
                    <b>De l'agence ou son représentant</b> <br>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
