<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>
    <body>

        <div class="ad">
            <div class="line-1">
                <div class="col-1">
                    <img src="{{ image }}" alt="Illustration" width="315" height="315">
                </div>
                <div class="col-2">
                    <div>
                        <div class="ad-title">{{ elem.libelle }}</div>
                        <div>{{ elem.localisation.zipcode }}, {{ elem.localisation.city }}</div>
                    </div>
                    <div class="ad-price">
                        <div>{{ elem.financial.price | price }} {{ elem.codeTypeAd == 1 ? "cc/mois" : "" }}</div>
                    </div>
                    <div>
                        <div>{{ elem.area.habitable }} m² - {{ elem.number.piece }} pièce{{ elem.number.piece > 1 ? "s" : "" }}</div>
                    </div>
                    <div>
                        <div class="ad-reference">Référence : {{ elem.reference }}</div>
                    </div>
                </div>
            </div>

            <div class="line-2">
                <div class="ad-content">
                    <p>{{ elem.advert.contentFull | raw }}</p>
                </div>
            </div>

            <div class="line-3">
                <div class="ad-contact">

                </div>
            </div>
        </div>

    </body>
</html>
