<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.png') }}" type="image/png">

    {% block stylesheets %}
        {{ encore_entry_link_tags('user') }}
        {{ encore_entry_link_tags('user_printer') }}
    {% endblock %}
</head>
<body>
    <div id="canvas-printer">
        {# --------------- BODY ---------------- #}
        {% block body %}{% endblock %}
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('user') }}
        {{ encore_entry_script_tags('user_printer') }}
    {% endblock %}
</body>
</html>