{% extends 'admin/pages/immo/template.html.twig' %}

{% set page_title %}Recherches de {{ elem.fullname }}{% endset %}
{% set submenuActive = "Prospects" %}

{% block main_content %}
    <div id="searchs"
         data-donnees="{{ donnees }}"
         data-follows="{{ follows }}"
         data-prospect-id="{{ elem.id }}"
         data-prospect-fullname="{{ elem.fullname }}"
    >
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}