{% extends 'user/pages/biens/template.html.twig' %}

{% set page_title %}Liste des biens{% endset %}
{% set submenuActive = "Liste des biens" %}

{% block main_content %}
    <div id="list-biens"
         data-agency-id="{{ agency.id }}"
         data-donnees="{{ data }}"
         data-filter-nego="{{ filterNego }}"
         data-filter-user="{{ filterUser }}"
         data-page-status="{{ st }}"
         data-rapprochements="{{ rapprochements }}"
         data-suivis="{{ suivis }}"
         data-contractants="{{ contractants }}"
    >
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}
