{% extends 'user/pages/biens/template.html.twig' %}

{% set page_title %}Liste des biens{% endset %}

{% block main_content %}
    <div id="list-biens" data-donnees="{{ data }}"
         data-tenants="{{ tenants }}"
         data-filter-owner="{{ filterOwner }}"
         data-filter-tenant="{{ filterTenant }}"
         data-filter-nego="{{ filterNego }}"
         data-filter-user="{{ filterUser }}"
         data-page-status="{{ st }}"
         data-page-draft="{{ dr }}"
    >
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}