{% extends 'user/pages/biens/template.html.twig' %}

{% set page_title %}Suivi de {{ elem.shortname }}{% endset %}
{% set submenuActive = "Liste des biens" %}

{% block main_content %}
    <div id="suivi-bien"
         data-context="{{ context }}"
         data-elem="{{ data }}"
         data-rooms="{{ rooms }}"
         data-photos="{{ photos }}"
         data-suivis="{{ suivis }}"
         data-visits="{{ visits }}"
         data-offers="{{ offers }}"
         data-contracts="{{ contracts }}"
         data-contractants="{{ contractants }}"
         data-rapprochements="{{ rapprochements }}"
         data-histories-visits="{{ historiesVisits }}"
         data-context-rapprochement="{{ ctRa }}"
    >
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}
