{% extends 'user/pages/biens/template.html.twig' %}

{% set page_title %}Suivi de {{ elem.shortname }}{% endset %}

{% block main_content %}
    <div id="suivi-bien"
         data-context="{{ context }}"
         data-elem="{{ data }}"
         data-photos="{{ photos }}"
         data-suivis="{{ suivis }}"
         data-negotiators="{{ negotiators }}"
         data-visits="{{ visits }}"
    >
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}