{% extends 'user/pages/biens/template.html.twig' %}

{% set page_title %}Modifier un bien{% endset %}
{% set submenuActive = "Liste des biens" %}

{% block main_content %}
    <div id="update-bien"
         data-element="{{ element }}"
         data-rooms="{{ rooms }}"
         data-photos="{{ photos }}"
         data-negotiators="{{ negotiators }}"
         data-all-owners="{{ allOwners }}"
         data-quartiers="{{ quartiers }}"
         data-sols="{{ sols }}"
         data-sous-types="{{ sousTypes }}"
         data-society-id="{{ user.society.id }}"
         data-agency-id="{{ user.agency.id }}"
         data-settings="{{ settings }}"
    >
        {% include "dashboard/layout/components/spinner.html.twig" %}
    </div>
{% endblock %}