{% extends 'app/layout/layout.html.twig' %}

{% block title %}Ultimmo Transaction | {{ parent() }}{% endblock %}

{% block main_content %}
<div class="homepage">
    <div class="app-header">
        <div class="title-page">
            <h1>Facilitez votre gestion en transaction immobilière.</h1>
            <p class="subtitle">
                Notre logiciel immobilier vous offre une interface ergonomique et simple à
                utiliser pour améliorer votre gestion immobilière.
            </p>
            <div class="actions">
                <a class="btn btn-color0" href="{{ path('app_contact') }}">Prenons contact</a>
            </div>
        </div>
        <div class="images">
            <img src="{{ asset('build/app/images/image-1.jpg') }}" alt="Illustration logiciel transaction">
            <img src="{{ asset('build/app/images/image-2.jpg') }}" alt="Illustration logiciel transaction">
            <img src="{{ asset('build/app/images/image-3.jpg') }}" alt="Illustration logiciel transaction">
        </div>
    </div>
</div>
{% endblock %}
